<!DOCTYPE HTML>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		{% block header %}
		<h1 align="center">BookCircles</h1>
		{% endblock %}
		</div>
	</div>
	
	<div class ="row-fluid">
	<div class="span11">
	<div class="navbar" >
  		<div class="navbar-inner">
    		<ul class="nav">
      			<li><a href="/books/">Home</a></li>
      			<li><a href="/circles/">Circles</a></li>
      			<li><a href="/notifications/">Notifications</a></li>
      			<li><a href="/searches/">Search</a></li>
      			<li><a href="/about/">About</a></li>
    		</ul>
  		</div>
	</div>
	</div>
	<div class="span1">
	<div class="navbar" >
  		<div class="navbar-inner">
    		<ul class="nav">
      			<li><a href="/logout/">Logout</a></li>
    		</ul>
  		</div>
	</div>
	</div>
	</div>
	
	<div class="hero-unit">
			{% block main %}
			{% endblock %}	
	</div>

	

	
	<div class="navbar navbar-fixed-bottom">
	{% block footer %}
	<p align="center">Copyright BookCircles.com</p>
	{% endblock %}
	</div>

	</div>
	

</body>
</html>