{% extends "base.html" %}
{% block main %}


<h2>Books</h2>

{% if books %}
<h3>Books in your shelf:</h3>
<table class="table table-striped table-bordered">
<tbody>
{% for book in books %}
<tr>
	<td><img src = "{{ book.imageurl}}" class="img-rounded"></td>
	<td>{{ book.title|escape }} - {{book.authors|escape}}</td>
	
</tr>
{% endfor %}
</tbody>
</table>
<br/>
<br/>
{% else %}
Start by adding books to your shelf !
<br/>
<br/>
{% endif %}

<form action="/addbook/" method="POST">
	
	<div class="input-append">
	<input class="span6" id="appendedInputButton" size="16" type="text" name="title" placeholder="Add a book here and hit add">
	<button class="btn" type="submit" class="btn">add</button>
	</div>
</form>
{% endblock %}
