{% extends "base.html" %}
{% block main %}


<h2>Circles</h2>
{% if circles %}
<table class="table table-bordered">
<tbody>
{% for circle in circles %}
<tr>
	<td><a href="/circles/{{ circle }}/">{{ circle|escape }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<table class="table table-bordered">
<tbody>
<tr>
<td>
You are not in any circles. Join circles and start sharing books !
</td>
</tr>
</tbody>
</table>
{% endif %}

<form action="/createcircle/" method="GET">
		<input type="submit" value = "Create a new circle" class="btn">
</form>

{% endblock %}
