{% extends "base.html" %}
{% block main %}


<h2>Circles</h2>
{% if circles %}
<table class="table table-striped table-bordered">
<tbody>
{% for circle in circles %}
<tr>
	<td><a href="/circles/{{ circle }}/" style="text-decoration: none"><img src="{{ STATIC_URL}}/static/circle.png" class="img-rounded"/> &nbsp; &nbsp;
{{ circle|escape }}</a></td>

</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<table class="table table-striped">
<tbody>
<tr>
<td>
You are not in any circles. Join circles and start sharing books !
</td>
</tr>
</tbody>
</table>
{% endif %}

<form action="/createcircle/" method="GET">
		<input type="submit" value = "Create a new circle" class="btn">
</form>

{% endblock %}
