<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
<title>Login</title>
</head>
<body bgcolor="#99c">
<div id="logindiv">
<h1>Welcome</h1>
<form action="/authenticate/" method="POST">
<label for="username">Username: </label>
<input type="text" name="username" value="">
</br>
<label for="password">Password: </label>
<input type="password" name="password" value="">
<p><input type="submit" value="Submit"></p>
<a href=/signup/> New User? Signup Now </a>
</form>
</div>
</body>
</html>