<!DOCTYPE HTML>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="../static/bootstrap/js/jquery-1.10.2.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	
	
	<!---- header ----->
	
	<div class="well well-large wrapper transparent" style="background-color: transparent">
	<div class="row-fluid wrapper transparent" style="background-color: transparent">
		<div class="span12 wrapper transparent" style="background-color: transparent">
		{% block header %}
				<h1 align="center">DronesClub</h1>
		{% endblock %}
		</div>
	</div>
	</div>
	
	<!-- /header --->
	
	<!--- Login Fields ---> 
	
	<div class="hero-unit" style="background-color: transparent">
		<div class="row-fluid">	
			
			<!-- normal login column-->
			<div class="span3 offset2" style="background-color: transparent">
			<form action="/authenticate/" class="form-horizontal" method="POST">
				<div class="control-group">
    				<label class="control-label" for="inputUsername">Username</label>
    				<div class="controls">
      					<input type="text" id="inputUsername" placeholder="Username" name="username">
    				</div>
        		</div> 
  				<div class="control-group">
    				<label class="control-label" for="inputPassword">Password</label>
    				<div class="controls">
      					<input type="password" id="inputPassword" placeholder="Password" name="password">
    				</div>
  				</div> 
  				<div class="control-group">
  					<div class="controls">
  						<input type="submit" class="btn" value="Login">
  					</div>
  				</div> 
			</form>  
		
			<form action="/signup/" class="form-horizontal" method="GET">
				<div class="control-group">
  					<div class="controls">
  						<input type="submit" class="btn" value="New User? Signup!">
  					</div>
  				</div>
			</form> 
			</div> 
			<!-- normal login column-->

			

			<!-- fb login -->
			<div class="span3" style="background-color: transparent">
			<br/>
			<br/>
			<form action="/fblogin/" class="form-horizontal" method="POST">
				<div class="control-group">
  					<div class="controls">
  						<input type = "image" src="../static/sign-in-with-facebook.png">
  					</div>
  				</div>
			</form>
			</div>
			<!-- fb login column -->
		
		</div> <!-- row-fluid -->
	</div> <!-- hero unit -->
	
	
	<!----- Carousel --------------->
	
	 <div id="booksCarousel" class="carousel slide">
       <div class="carousel-inner">
           <div class="item active">
				<h2 align="center"><img src="../static/carousel-books1.png"></h2>
           </div>
           <div class="item">
                <h2 align="center"><img src="../static/carousel-books2.png"></h2>
           </div>
           <div class="item">
                <h2 align="center"><img src="../static/carousel-books3.png"></h2>
           </div>
           <div class="item">
                <h2 align="center"><img src="../static/carousel-books4.png"></h2>
           </div>
       </div>
       <a class="left carousel-control" href="#booksCarousel" data-slide="prev">&lsaquo;</a>
       <a class="right carousel-control" href="#booksCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <script type="text/javascript"> 
        $('.carousel').carousel({ 
          interval: 3000 
        }) 
    </script>
    
    <!-------- Footer -------------------->

	<div class="navbar navbar-fixed-bottom">
	{% block footer %}
	<p align="center">Copyright BookCircles.com</p>
	{% endblock %}
	</div>

</body>
</html>
