<!DOCTYPE HTML>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		{% block header %}
		<h1 align="center">BookCircles</h1>
		{% endblock %}
		</div>
	</div>
	<div class="hero-unit">
		
		<form action="/authenticate/" class="form-horizontal" method="POST">
		<div class="control-group">
    		<label class="control-label" for="inputUsername">Username</label>
    		<div class="controls">
      			<input type="text" id="inputUsername" placeholder="Username" name="username">
    		</div>
  		</div>
  		<div class="control-group">
    		<label class="control-label" for="inputPassword">Password</label>
    		<div class="controls">
      			<input type="password" id="inputPassword" placeholder="Password" name="password">
    		</div>
  		</div>
  		<div class="control-group">
  			<div class="controls">
  			<input type="submit" class="btn" value="Login">
  			</div>
  		</div>
		</form>
		
	</div>
	
	<div class="navbar navbar-fixed-bottom">
	{% block footer %}
	<p align="center">Copyright BookCircles.com</p>
	{% endblock %}
	</div>

</body>
</html>