{% extends "base.html" %}
{% block main %}


<h2>Notifications</h2>
{% if notifications %}
<table class="table table-striped table-bordered" style="vertical-align: middle">
<tbody>
{% for notification in notifications %}
{% if username == notification.fromuser.username %}
<tr>
	<td><img src="{{ STATIC_URL}}/static/notification-out.jpg" class="img-rounded"/></td>
	<td>To: {{ notification.touser }}</td>
	<td><img src= "{{ notification.book.imageurl }}" class="img-rounded"/></td>
	<td>{{ notification.book.title }}</td>
	<td>{{ notification.message }}</td>
	<td><Strike>Reply</Strike></td>
</tr>
{% else %}
<tr>
	<td><img src="{{ STATIC_URL}}/static/notification.jpg" class="img-rounded"/></td>
	<td>From: {{ notification.fromuser }}</td>
	<td><img src= "{{ notification.book.imageurl }}" class="img-rounded"/></td>
	<td>{{ notification.book.title }}</td>
	<td>{{ notification.message }}</td>
	<td><form action="/reply/{{notification.fromuser}}/{{notification.book.isbn10}}/" method="GET"><input type="submit" class="btn" value="Reply"></form></td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
{% else %}
<table class="table table-striped table-bordered" style="vertical-align: middle">
<tbody>
<tr>
<td  style="vertical-align: middle">
<img src="{{ STATIC_URL}}/static/notification.jpg" class="img-rounded"/> &nbsp; &nbsp; No notifications
</td>
</tr>
</tbody>
</table>
{% endif %}


{% endblock %}
