{% extends "base.html" %}
{% block main %}
<body>
<h1>Search</h1>

<form action="/searchbooks/" method="GET">
	<div class="input-append">
	<input class="span6" id="appendedInputButton" size="16" type="text" name="q" placeholder="Search for books">
	<button class="btn" type="submit" class="btn">Go</button>
	</div>
</form>

<form action="/searchcircles/" method="GET">
	<div class="input-append">
	<input class="span6" id="appendedInputButton" size="16" type="text" name="q" placeholder="Search for Circles">
	<button class="btn" type="submit" class="btn">Go</button>
	</div>
</form>

{% if query %}
<h2>Results for "{{ query|escape }}":</h2>
{% if resulttype == "books" %}
{% if results %}
{% for object in results %}
<li>{{ object.volume.title }}, {{ object.volume.authors }} of <a href = "/user/{{ object.bookowner }}/"> {{ object.bookowner }} </a> : <a href = "/ask/{{object.bookowner}}/{{ object.title}}/"> ask </a></li>
{% endfor %}
{% else %}
<p>No books found in your circles</p>
{% endif %}
{% else %}
{% if results %}
{% for object in results %}
<li><a href="/circles/{{ object }}"> {{ object|escape }} </a></li>
{% endfor %}
{% else %}
<p>No circles found. <a href="/createcircle">Create a cicle</a></p>
{% endif %}
{% endif %}
{% endif %}
</body>

{% endblock %}
