<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
<title>Sign Up</title>
</head>
<body bgcolor="#99c">
<div id="logindiv">
<h1>Sign up</h1>
<form action="/signup/" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" value="">
</br>
</br>
</br>
<label for="password">Password:</label>
<input type="password" name="password" value="">
</br>
</br>
</br>
<label for="email"> &nbsp&nbsp&nbsp&nbspEmail:</label>
<input type="text" name="email" value="">
</br>
</br>
</br>
</br>
<input type="submit" value="Sign up">
</form>
</div>
</body>
</html>