{% extends "base.html" %}
{% block main %}
<h2>{{ user }} </h2>

{% if books %}
{{ user }}'s shelf:

<table class="table table-striped table-bordered">
<tbody>
{% for book in books %}
<tr>
	<td><img src = "{{ book.imageurl}}" class="img-rounded"></td>
	<td>{{ book.title|escape }} - {{book.authors|escape}}</td>
	<td><form action="/ask/{{user}}/{{book.isbn10}}/" method="GET"><input type="submit" class="btn" value="Ask this book"></form></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
Has not added any books yet
{% endif %}
<br/>
<br/>

{% if circles %}
Member of the following circles:
<br/>
<br/>
<table class="table table-striped table-bordered">
<tbody>
{% for circle in circles %}
<tr>
	<td><img src="{{ STATIC_URL}}/static/circle.png" class="img-rounded"/>&nbsp; &nbsp;<a href="/circles/{{ circle}}/">{{ circle }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
Not a memeber of any circles yet.
{% endif %}
<br/>
{% endblock %}
